@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

@media (max-width: 767px) {
  .fc .fc-button {
    padding: 0.3em 0.5em;
    font-size: 0.8em;
  }
  .fc .fc-day-header {
    font-size: 1em;
  }
  .fc .fc-event-time,
  .fc .fc-event-title {
    font-size: 0.7em;
  }

  .fc .fc-toolbar-title {
    font-size: 0.8em;
  }

  .fc-event-main-frame {
    flex-direction: column;
    align-items: flex-start;
  }

  .fc-event-time,
  .fc-event-title-container {
    font-size: 0.7rem;
    line-height: 1;
  }

  .fc-event {
    min-height: 1.5em;
  }

  .fc .fc-timegrid-slot-label {
    font-size: 0.8rem;
  }
}

.fc .fc-daygrid-day-number:hover {
  text-decoration: none !important;
}

.fc .fc-daygrid-day-top:hover {
  text-decoration: none !important;
}

.fc .fc-day.disabled-day {
  background-color: #f3f4f6;
  opacity: 0.8;
}

.fc .fc-day-today {
  background-color: #f0dc83 !important;
}

.fc-timegrid-event-harness {
  margin-right: 1px !important;
}

.fc-timegrid-event {
  min-height: auto !important;
  height: auto !important;
}

.event-content {
  display: flex;
  flex-direction: column;
  padding-inline: 4px;
  overflow: hidden;
}

.event-time {
  font-size: 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-title {
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Reduce padding in event elements */
/* .fc .fc-daygrid-event {
  margin: 0;
  padding: 2px;
} */

/* Adjust the event content */
/* .fc .fc-event-title,
.fc .fc-event-time {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.fc .fc-daygrid-more-link:hover {
  display: block;
  text-decoration: underline;
  cursor: pointer;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.fc .fc-button-primary {
  @apply bg-primary text-primary-foreground shadow hover:bg-primary/90;
}

.fc .fc-button:disabled {
  @apply bg-primary text-primary-foreground shadow capitalize;
}

.fc-theme-standard .fc-scrollgrid {
  @apply bg-white border-[1px] border-collapse;
}

.popover-content {
  width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
}
